<a href="https://colab.research.google.com/github/majoend/practicando/blob/main/Curso_Python_Desaf%C3%ADo_Latam_clase_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clase 2

## ESTRUCTURAS DE CONTROL: CONDICIONALES. IF - ELSE - ELIF
### If (si) se usa para evaluar una condición. Ej: "si hace frío, me pongo un abrigo, sino, me quedo en remera". Tener en cuenta el tipo de dato al hacer comparaciones.

In [ ]:
# If-elif-else
temperatura = int(input('Ingrese la temperatura ambiente: '))

if temperatura > 30:
  print('hace calor!')

elif temperatura > 20:
  print('temperatura agradable')
elif temperatura > 10:
  print('re frio!')
else:
  print('hielo')

print('fin')

Ingrese la temperatura ambiente: 25
temperatura agradable
fin

In [ ]:
'casa'+4

TypeError: can only concatenate str (not "int") to str

OPERADORES LÓGICOS. AND - OR - NOT

In [ ]:
# Operadores lógicos
tiene_fiebre = True
tiene_tos = True

if tiene_fiebre and tiene_tos:
    print("Vaya a ver a un médico")
else:
  print('está ok')

Vaya a ver a un médico

In [ ]:
temperatura = int(input('Ingrese su temp corporal'))
tiene_tos = True

if temperatura > 36 and tiene_tos:
  print('ud tiene que ir al médico')

Ingrese su temp corporal38
ud tiene que ir al médico

# OR

In [ ]:
tiene_fiebre = True
tiene_tos = False

if tiene_fiebre or tiene_tos:
    print("Tiene algún síntoma")

Tiene algún síntoma
No tiene fiebre

In [ ]:
tiene_fiebre = True

if not tiene_fiebre:
  print("No tiene fiebre")

In [ ]:
nombre = 'Juana'
edad = 36
sexo = 'F'
apellido = 'Ferreira da Silva'

if nombre == 'Leo' or edad == 37 or sexo == 'M' or apellido == 'Ferreira da Silva':
  print('éxito')

éxito

In [ ]:
# Crear un ejercicio en que la persona ingrese su edad y el mensaje le diga a qué rango de edad pertenece.
# 0-18 (menor de 18 años)
# 18 - 30 (entre 18 y 30)
# 30 - 40 (Entre 30 y 40)
# 40 - 50 (Entre 40 y 50)
# > 50 (Mas de 50)
x = int(input('ingrese edad'))
if x<18:
  print('es menor de edad')
elif x>18 and x<=39:
  print('adulto joven')
else:
  print('adulto')

ingrese edad55
adulto

# LISTAS

In [ ]:
# Crear listas
numeros = [1, 2, 3, 4, 5]
nombres = ["Ana", "Carlos", "Luis", "María"]
mixta = [10, "hola", True, 3.14,[1,2,3,4,5]]

len(mixta)

5

In [ ]:
# Acceder a elementos
print(numeros[0])  # El primer elemento (índice 0)
print(nombres[2])  # El tercer elemento (índice 2)
print(numeros[-1])  # El último elemento

# Operaciones básicas con listas
print(len(numeros))  # Cantidad de elementos

numeros.append()  # Agregar un elemento al final
print(numeros)

numeros.remove(3)  # Eliminar un elemento específico
print(numeros)

nombres.sort()  # Ordenar la lista (modifica la lista original)
print(nombres)

# Slicing (rebanado) de listas
print(numeros[1:4])  # Elementos del índice 1 al 3
print(numeros[:3])   # Elementos desde el inicio hasta el índice 2
print(numeros[2:])   # Elementos desde el índice 2 hasta el final

# Diccionarios

In [ ]:
# Crear diccionarios
persona = {
    "nombre": "Leo",
    "edad": 37,
    "profesion": "Profesor",
    "lenguajes": ["Python", "R", "SQL"]
}

print(f"Diccionario persona: {persona}")

# Acceder a valores
print(f"Nombre: {persona['nombre']}")
print(f"Edad: {persona['edad']}")
print(f"Primer lenguaje: {persona['lenguajes'][0]}")

# Modificar valores
persona["edad"] = 29
print(f"Edad actualizada: {persona['edad']}")

# Agregar nuevos pares clave-valor
persona["ciudad"] = "Buenos Aires"
print(f"Diccionario actualizado: {persona}")

# Métodos útiles de diccionarios
print(f"Claves: {persona.keys()}")
print(f"Valores: {persona.values()}")
print(f"Pares clave-valor: {persona.items()}")

Diccionario persona: {'nombre': 'Leo', 'edad': 37, 'profesion': 'Profesor', 'lenguajes': ['Python', 'R', 'SQL']}
Nombre: Leo
Edad: 37
Primer lenguaje: Python
Edad actualizada: 29
Diccionario actualizado: {'nombre': 'Leo', 'edad': 29, 'profesion': 'Profesor', 'lenguajes': ['Python', 'R', 'SQL'], 'ciudad': 'Buenos Aires'}
Claves: dict_keys(['nombre', 'edad', 'profesion', 'lenguajes', 'ciudad'])
Valores: dict_values(['Leo', 29, 'Profesor', ['Python', 'R', 'SQL'], 'Buenos Aires'])
Pares clave-valor: dict_items([('nombre', 'Leo'), ('edad', 29), ('profesion', 'Profesor'), ('lenguajes', ['Python', 'R', 'SQL']), ('ciudad', 'Buenos Aires')])

# For
### Bucles

In [ ]:
numeros = [1, 2, 3, 4, 5]
for i in numeros:
  print(i)
print('fin')

1
2
3
4
5
fin

In [ ]:
for x in nombres:
  print(x)

Ana
Carlos
Luis
María

In [ ]:
for x in mixta:
  print(x)

10
hola
True
3.14
[1, 2, 3, 4, 5]

In [ ]:
lista_numeros = [1,2,3,4,5]
for i in lista_numeros:
  print(f'El número  de la lista elevado al cuadrado es: {i**2}')

El número  de la lista elevado al cuadrado es: 1
El número  de la lista elevado al cuadrado es: 4
El número  de la lista elevado al cuadrado es: 9
El número  de la lista elevado al cuadrado es: 16
El número  de la lista elevado al cuadrado es: 25

In [ ]:
# Preguntar si el elemento es par o no, y mostrar un mensaje

In [ ]:
# Bucle for con listas
print("Iterando sobre una lista:")
frutas = ["manzana", "banana", "naranja", "kiwi", "fresa"]

for fruta in frutas:
    print(fruta)

# Bucle for con range
for i in range(5):  # 0, 1, 2, 3, 4
    print(i)

# Range con inicio, fin y paso
print("\nRange con parámetros:")
for i in range(10, 21, 2):  # 10, 12, 14, 16, 18, 20
    print(f"Número par: {i}")

# Bucle for con diccionarios
print("\nIterando sobre un diccionario:")
for clave in persona:
    print(f"Clave: {clave}, Valor: {persona[clave]}")

print("\nIterando sobre pares clave-valor:")
for clave, valor in persona.items():
    print(f"Clave: {clave}, Valor: {valor}")

In [ ]:
# For - Ejemplo
print("Análisis de datos con bucle for:")
ventas_mensuales = [
    {"mes": "Enero", "unidades": 125, "total": 18750},
    {"mes": "Febrero", "unidades": 108, "total": 16200},
    {"mes": "Marzo", "unidades": 198, "total": 29700},
    {"mes": "Abril", "unidades": 163, "total": 24450},
    {"mes": "Mayo", "unidades": 187, "total": 28050}
]

total_ventas = 0
mes_max_ventas = ""
max_ventas = 0

for venta in ventas_mensuales:
    total_ventas += venta["total"]

    if venta["total"] > max_ventas:
        max_ventas = venta["total"]
        mes_max_ventas = venta["mes"]

    # Agregar mensaje si las ventas superan cierto umbral
    if venta["unidades"] > 150:
        print(f"¡{venta['mes']} superó el objetivo de ventas con {venta['unidades']} unidades!")

print(f"Total de ventas en el período: ${total_ventas}")
print(f"Mes con mayores ventas: {mes_max_ventas} (${max_ventas})")

Análisis de datos con bucle for:
¡Marzo superó el objetivo de ventas con 198 unidades!
¡Abril superó el objetivo de ventas con 163 unidades!
¡Mayo superó el objetivo de ventas con 187 unidades!
Total de ventas en el período: $117150
Mes con mayores ventas: Marzo ($29700)

# WHILE

In [ ]:
# Bucle while
print("Bucle while básico:")
contador = 1
while contador <= 5:
    print(f"Contador: {contador}")
    contador += 1
print('fin')

Bucle while básico:
Contador: 1
Contador: 2
Contador: 3
Contador: 4
Contador: 5
fin

In [ ]:
# While con break
print("While con break:")
numero = 1
while True:
    if numero > 5:
        break
    print(f"Número: {numero}")
    numero += 1

While con break:
Número: 1
Número: 2
Número: 3
Número: 4
Número: 5

In [ ]:
# While con continue
print("\nWhile con continue:")
numero = 0
while numero < 10:
    numero += 1
    if numero % 2 == 0:  # Si es par, saltamos a la siguiente iteración
        continue
    print(f"Número impar: {numero}")

While con continue:
Número impar: 1
Número impar: 3
Número impar: 5
Número impar: 7
Número impar: 9

In [ ]:
# While - Ejemplo

# Simulación de crecimiento poblacional
poblacion_inicial = 1000
tasa_crecimiento = 0.05  # 5% anual
anios = 0
poblacion = poblacion_inicial

while poblacion < 2000:  # Hasta que la población se duplique
    anios += 1
    poblacion = poblacion * (1 + tasa_crecimiento)
    print(f"Año {anios}: Población = {poblacion:.2f}")

print(f"\nLa población tardó {anios} años en duplicarse.")

Año 1: Población = 1050.00
Año 2: Población = 1102.50
Año 3: Población = 1157.62
Año 4: Población = 1215.51
Año 5: Población = 1276.28
Año 6: Población = 1340.10
Año 7: Población = 1407.10
Año 8: Población = 1477.46
Año 9: Población = 1551.33
Año 10: Población = 1628.89
Año 11: Población = 1710.34
Año 12: Población = 1795.86
Año 13: Población = 1885.65
Año 14: Población = 1979.93
Año 15: Población = 2078.93

La población tardó 15 años en duplicarse.

# EJERCICIOS

In [ ]:
"""
EJERCICIO 1: Bucles For
Dada una lista de números, retornar una nueva lista
que contenga sólo los números pares de la lista original.

Ejemplo:
[1, 2, 3, 4, 5, 6] → [2, 4, 6]
"""

In [ ]:
"""
EJERCICIO 2: Bucles While
Crear un juego de adivinanza en el cual se debe generar
un número aleatorio entre 1 y 100 y pedirle al usuario que adivine el número.
Después de cada intento, le indicará si el número es mayor o menor al ingresado.
El juego termina cuando el usuario adivina el número o cuando se rinde.

Pista: Para generar un número aleatorio, puedes usar:

import random
numero_secreto = random.randint(1, 100)
"""

In [ ]:
"""
EJERCICIO 3: Diccionarios
Dada una lista de nombres, retornar un diccionario
que cuente cuántas veces aparece cada nombre en la lista.

Ejemplo:
["Ana", "Juan", "Ana", "María", "Pedro", "Juan"] →
{"Ana": 2, "Juan": 2, "María": 1, "Pedro": 1}
"""

# RECURSOS ADICIONALES

- Documentación oficial de Python: https://docs.python.org/es/3/
- Tutoriales interactivos: https://www.learnpython.org/
- El libro de Python: https://ellibrodepython.com/
- Ejercicios prácticos: https://www.practicepython.org/